name: CI
on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  packages: write
  actions: read

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-48
      options: --privileged
    steps:
      - uses: actions/checkout@v4
      - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          bundle: org.passwordstore.pass.flatpak
          manifest-path: org.passwordstore.pass.json
          upload-artifact: true
  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Flatpak artifact
        uses: actions/download-artifact@v4
        with:
          name: org.passwordstore.pass-x86_64.flatpak
          path: .
      - run: tree
      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.run_number }}
          release_name: "pass flatpak build #${{ github.run_number }}"
          draft: false
          prerelease: false
      - name: Upload Flatpak to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: *.flatpak
          asset_content_type: application/octet-stream
